Previous notes from EDA:

- To deal with the zeros in [budget, popularity, revenue, runtime, vote_average]:
    - It could be one of these ways:
        1. Predictive Modeling: Building a model to predict budget or revenue based on other features (e.g., genre, popularity, runtime) could provide more accurate results
        2. Binning: Instead of treating budget and revenue as continuous variables, you can categorize them into bins (e.g., low, medium, high).
        3. Data Augmentation: Seek out additional data sources to fill in the missing budget and revenue information. 

- Now for the high-value outliers in [budget, populairty, revenue, vote_count]:
    - It could be one of these ways:
        1. Winsorization: capping the extreme values at a certain percentile. points above the 95th percentile are set to the value of the 95th percentile.
        2. Binning: as explained before...
        3. Transformation: Applying transformations to the data can reduce the impact of outliers. Log transformations, square root transformations, or Box-Cox transformations
        4. Model-choice: we can use models that are less sensetive to outliers e.g. Tree-based models

In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
movies_df = pd.read_csv("../data/movies_after_eda.csv")
ratings_df = pd.read_csv("../data/ratings_small.csv")
credits_df = pd.read_csv("../data/credits.csv")

## Let's try to create to merged datasets
one for (moves+credits) for content-based filtering
and the other (movies+ratings) for collabritve-based filtering

some of movies_id has weird values like dates instead of numbers and nan's. So, we will be dealing with that

In [63]:
movies_df["id"] = movies_df["id"].apply(
    lambda x: int(x) if str(x).isnumeric() else np.nan
)
movies_df["id"].isnull().sum()
movies_df = movies_df.dropna(subset=["id"])
movies_df["id"] = movies_df["id"].astype(int)

In [65]:
movies_credits_df = pd.merge(movies_df, credits_df, on="id")
movies_credits_df.head(2)

,id,imdb_id,title,budget,original_language,overview,popularity,release_date,revenue,runtime,vote_average,vote_count,genres_list,release_year,production_companies_list,cast,crew
0,862,tt0114709,Toy Story,30000000.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,7.7,5415.0,"['Animation', 'Comedy', 'Family']",1995.0,['Pixar Animation Studios'],"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,tt0113497,Jumanji,65000000.0,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,6.9,2413.0,"['Adventure', 'Fantasy', 'Family']",1995.0,"['TriStar Pictures', 'Teitler Film', 'Intersco...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [66]:
movies_credits_df.tail(2)

,id,imdb_id,title,budget,original_language,overview,popularity,release_date,revenue,runtime,vote_average,vote_count,genres_list,release_year,production_companies_list,cast,crew
45536,227506,tt0008536,Satan Triumphant,0.0,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,0.0,0.0,[],1917.0,['Yermoliev'],"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45537,461257,tt6980792,Queerama,0.0,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,0.0,0.0,[],2017.0,[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [62]:
movies_credits_df.isnull().sum()

id                             0
imdb_id                       17
title                          3
budget                         0
original_language             11
overview                     954
popularity                     3
release_date                  87
revenue                        3
runtime                      260
vote_average                   3
vote_count                     3
genres_list                    0
release_year                  87
production_companies_list      0
cast                           0
crew                           0
dtype: int64

the null values seem to hurt the dataset as its mostly on not so important columns
so, we will deal with with simple imputations ways

In [69]:
# dealing with null values by mean imputation for numerical columns and mode imputation for categorical columns
movies_credits_df["runtime"] = movies_credits_df["runtime"].fillna(
    movies_credits_df["runtime"].mean()
)
movies_credits_df["vote_average"] = movies_credits_df["vote_average"].fillna(
    movies_credits_df["vote_average"].mean()
)
movies_credits_df["vote_count"] = movies_credits_df["vote_count"].fillna(
    movies_credits_df["vote_count"].mean()
)
movies_credits_df["release_date"] = movies_credits_df["release_date"].fillna(
    movies_credits_df["release_date"].mode()[0]
)
movies_credits_df["release_year"] = movies_credits_df["release_year"].fillna(
    movies_credits_df["release_year"].mode()[0]
)
movies_credits_df["original_language"] = movies_credits_df["original_language"].fillna(
    movies_credits_df["original_language"].mode()[0]
)
movies_credits_df["revenue"] = movies_credits_df["revenue"].fillna(
    movies_credits_df["revenue"].mean()
)
movies_credits_df["imdb_id"] = movies_credits_df["imdb_id"].fillna(
    "No imdb_id available"
)
movies_credits_df["title"] = movies_credits_df["title"].fillna("No title available")
movies_credits_df["popularity"] = movies_credits_df["popularity"].fillna(
    movies_credits_df["popularity"].mean()
)

In [70]:
movies_credits_df.isnull().sum()

id                           0
imdb_id                      0
title                        0
budget                       0
original_language            0
overview                     0
popularity                   0
release_date                 0
revenue                      0
runtime                      0
vote_average                 0
vote_count                   0
genres_list                  0
release_year                 0
production_companies_list    0
cast                         0
crew                         0
dtype: int64